<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand font" href="/"><span class="text-primary">speak</span><span class="text-secondary">E</span><span class="text-primary">asy</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavBar"
        aria-controls="myNavBar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="myNavBar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ml-3">
            {{#unless user}}
            <a class="nav-link active" href="/auth/signup"><span class="text-primary"></span>Sign Up</a>
          </li>
          <li class="nav-item  ml-3">
            <a class="nav-link" href="/auth/login"><span class="text-primary">Login</span></a>
          </li>
          {{/unless}}
          {{#if user}}
          <li class="nav-item ml-3">
            <a class="nav-link" href="/profil/view"><span class="text-primary">My Profile</span></a>
          </li>
          <li class="nav-item ml-3">
            <a class="nav-link" href="/tandem/find"><span class="text-primary">Find a Tandem</span></a>
          </li>
          <li class="nav-item ml-3">
            <a class="nav-link" href="/tandem/all"><span class="text-primary">My Tandems</span></a>
          </li>
          <li class="nav-item ml-3">
            <a class="nav-link" href="/auth/logout"><span class="text-primary">Logout</span></a>
          </li>
          {{/if}}

      </div>
    </div>
  </nav>

  <div class="container">
    {{{body}}}
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>