<div class="container main d-flex flex-column align-items-center justify-content-center">
  <div id="riddlebox" class="bg-primary p-5 text-center rounded-pill">
    <h1 id="riddle"  class="text-white">What is needed most when going to travel, probably at it's best afterwards - <br />and lost
      shortly after?</h1>
  </div>
</div>