$primary: #222CCB;
$secondary: #F57816;


@import '../../node_modules/bootstrap/scss/bootstrap.scss';




body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


a {
  color: #00B7FF;
}

.main {
  flex-grow: 1;
}

footer {
  line-height: 50px;
  color: white;
  text-align: center;
  height: 50px;
  margin-top: 30px;
  
}

.img-cover {
    object-fit: cover;
  }

  .primary-less {
    background-color: #222CCB;
  }

  .round {
    border-radius: 50%;
  }