 <div class="container main">

<div class="form-group w-50 text-center text-primary border p-5 mt-5 ml-auto mr-auto">
  <h1 class="mb-2">Edit Profile</h1>
  <form action="/profil/edit/{{user._id}}" method="POST" id="form-container" enctype="multipart/form-data"
    class="text-center">

    <div class="form-row ">
      <div class="col-12 ">
        <textarea type="text" class="form-control text-center" rows="10" id="bio" name="bio"
          placeholder="Tell us about yourself! What are your interests? What do you do for a living? What are some of your favourite/most detested conversation topics?">{{user.bio}}</textarea>
      <br>
      </div>

      <div class="col-12">
        <label for="nationality" class="font-weight-bold">Nationality</label>
        <input type="text" value="{{user.nationality}}" id="nationality" class="form-control text-center" name="nationality"
          placeholder="Where are you from?"><br>
      </div> 


      <div class="col-12 ">      
        <label for="dateOfBirth" class="font-weight-bold">Date of birth</label>

        <input type="date" id="dateOfBirth" class="form-control" name="dateOfBirth" value = {{formatDatePicker user.dateOfBirth}}>
      <br>
      </div>

{{!-- ugly file upload --}}
      <div class="form-group col-12">
        <label for="picture" class="font-weight-bold">Upload a profile picture</label> <br>
        <input type="file"  name="picture" id="picture" class="form-control">
      </div>
    </div>
<br><br>

<button type="submit" class="btn btn-primary rounded-pill">Update account</button>
<br> <br>

</form>
</div>
</div>