<div class="form-group w-50 m-auto text-center text-primary">
  <h1>Edit Profile</h1>
  <form action="/profil/edit/{{user._id}}" method="POST" id="form-container" enctype="multipart/form-data"
    class="text-center">

    <div class="form-row ">
      <div class="col-12 ">
        <textarea type="text" class="form-control text-center" rows="10" id="bio" name="bio" value="{{user.bio}}"
          placeholder="Tell us about yourself! What are your interests? What do you do for a living? What are some of your favourite/most detested conversation topics?"></textarea>
      <br>
      </div>

      <div class="col-12">
        <label for="nationality" class="font-weight-bold">Nationality</label>
        <input type="text" value="{{user.nationality}}" id="nationality" class="form-control text-center" name="nationality"
          placeholder="Where are you from?"><br>
      </div> 


      <div class="col-12 ">      
        <label for="dateOfBirth" class="font-weight-bold">Date of birth</label>

        <input type="date" value="{{formatBirthDate user.dateOfBirth}}" id="dateOfBirth" class="form-control" name="dateOfBirth">
      <br>
      </div>

{{!-- ugly file upload --}}
      <div class="form-group col-12">
        <label for="picture" class="font-weight-bold">Upload a profile picture</label> <br>
        <input type="file"  name="picture" id="picture" class="form-control">
      </div>


{{!-- bootstrap file upload --}}
      {{!-- <div class="input-group">
  
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile01"
      aria-describedby="inputGroupFileAddon01">
    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
  </div>
</div>  --}}





    </div>



<br><br>

<button type="submit" class="btn btn-primary">Update account</button>
<br> <br>

</form>
</div>